{% extends app.request.isxmlhttprequest ? 'base.json.twig' :  'base.html.twig' %}

{% block body %}
    <div class="form-signin">
        <h2 class="form-signin-heading">Order creation</h2>

        {{ form_start(form, {'action': path('orders_new') } ) }}
        {{ form_widget(form) }}
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Create"/>

        {{ form_end(form) }}

        {% if  not app.request.isxmlhttprequest %}
            <a href={{ path('orders_index') }}>Back to the list</a>
        {% endif %}
    </div>
{% endblock %}



